.main__slide, .section__digitalCreators .container,.section__schedule, .section__allSpeakers, .section__bestCompanies, .section__testimonials, .section__yourQuestions {
    margin-bottom: 10rem;
}

.main__slide, .section__digitalCreators, .section__schedule, .section__allSpeakers, .section__yourQuestions, .section__testimonials, .section__pricing {
    padding: 0 3rem;
}

.main__introduction, .section__bestCompanies, .section__pricing, .section__testimonials, .section__yourQuestions {
    text-align: center;
}

/* LINK BLUE */
.main__link--Book {
    color: var(--white);
    background-color: var(--blue);
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.9rem 1.7rem;
    letter-spacing: 1px;
    border-radius: 10px;
    font-size: 0.9em;
    transition: .4s;
}

.main__link--Book:hover {
    color: var(--black);
    background-color: var(--white);
}

/* IMG LOGO */
.img-logo {
    width: 12rem;
}

/* TITLE */
.main__title {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: var(--roboto);
    font-size: 0.95em;
}