.footer {
    padding: 7rem;
    padding-bottom: 3rem;
}

.footer__logo {
    margin-bottom: 6rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.footer__linksTop {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 1.4rem;
    flex-wrap: wrap;
}

.footer__icons {}

.footer__icons i {
    background-color: var(--white);
    color: var(--black);
    border-radius: 50%;
    padding: 0.8rem;
    margin: 0 0.4rem;
    border: 1px solid white;
    cursor: pointer;
    transition: .3s;
}
.footer__icons i:hover {
    color: var(--white);
    background-color: transparent;
    
}