.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 2.5rem;
    z-index: 10;
    gap: 1rem;
}

.header__nav {}

.header__listLinks {
    list-style: none;
    display: flex;
    gap: 1.2rem;
}

.header__link {}

.header__link a, .header__pricing-sing a {
    text-decoration: none;
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--white);
}

.header__link a {
    font-size: 0.88em;
    letter-spacing: 1px;
    position: relative;
}

.header__link a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -0.4rem;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--white);
    transition: all .5s;
}

.header__link a:hover::before {
    width: 100%;
}

.header__imgBox, .header__pricing-sing {
    flex-basis: 24rem;
}

.header__imgBox figcaption {
    display: none;
}

.header__pricing-sing a {
    padding: 0.78rem 1.8rem;
    font-size: 0.95em;
    letter-spacing: 2px;
    transition: .2s;
    border-radius: 10px;
    border: 2px solid transparent;
    margin: 0 0.4rem;
}

#header--linkSingUp, .header__pricing-sing a:hover {
    background-color: var(--white);
    color: var(--black);
}

#header--linkSingUp:hover {
    border: 2px solid var(--white);
    background-color: transparent;
    color: var(--white);
}

@media (width < 1170px) {
    .header {
        display: none;
    }
}