.header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 2.5rem;
    z-index: 10;
    gap: 1rem;
}

.header__nav {}

.header__listLinks {
    list-style: none;
    display: flex;
    gap: 1.2rem;
}

.header__link {}

.header__link a, .header__pricing-sing a {
    text-decoration: none;
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--white);
}

.header__link a {
    font-size: 0.88em;
    letter-spacing: 1px;
    position: relative;
}

.header__link a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -0.4rem;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--white);
    transition: all .5s;
}

.header__link a:hover::before {
    width: 100%;
}

.header__imgBox figcaption {
    display: none;
}

.header__pricing-sing a {
    padding: 0.78rem 1.8rem;
    font-size: 0.95em;
    letter-spacing: 2px;
    transition: .2s;
    border-radius: 10px;
    border: 2px solid transparent;
    margin: 0 0.4rem;
}

#header--linkSingUp, .header__pricing-sing a:hover {
    background-color: var(--white);
    color: var(--black);
}

#header--linkSingUp:hover {
    border: 2px solid var(--white);
    background-color: transparent;
    color: var(--white);
}

.hamburguer {
    display: none;
}


@media (width < 1040px) {

    .header__nav {
        position: absolute;
        height: 100vh;
        left: 0;
        top: 0;
        width: 100%;
        clip-path: circle(8px at 98% -1%);
        background-color: var(--blue);
        transition: .3s ease-out;
        pointer-events: none;
    }
    
    .header__listLinks {
        flex-direction: column;
        align-items: center;
        gap: 0;
        padding-top: 5rem;
    }

    .header.ativo .header__nav {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .header__link {
        width: 100%;
    }

    .header__link a {
        display: block;
        text-align: center;
        font-size: 1.3em;
        opacity: 0;
        padding: 1.3rem;
        border-bottom: 1px solid white;
        transition: .3s;
    }

    .header__link a:hover {
        background-color: var(--white);
        color: var(--black);
    }
    .header__link a:hover::before {
        width: 0%;
    }

    .header.ativo a {
        opacity: 1;
    }

    .header .header__pricing-sing {
        height: 100vh;
        position: absolute;
        top: 26rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        right: -100%;
        transition: .5s ease-out;
    }

    .header.header.ativo .header__pricing-sing {
        right: 0%;
    }

    .header__pricing-sing a { 
        margin: 0;
        padding: 1.3rem;
        border-radius: 0px;
        text-align: center;
        border-top: 1px solid var(--white);
        border: 0;
    }

    .hamburguer {
        display: block;
        border: none;
        background-color: transparent;
        border-top: 3px solid white;
        cursor: pointer;
        z-index: 1;
    }
    
    .hamburguer::before, .hamburguer::after {
        content: '';
        display: block;
        width: 40px;
        height: 3px;
        background-color: var(--white);
        margin-top: 7px;
        position: relative;
        transition: .3s;
    }

    .header.ativo .hamburguer {
        border-top-color: transparent;
    }

    .header.ativo .hamburguer::before {
        transform: rotate(135deg);
    }

    .header.ativo .hamburguer::after {
        transform: rotate(-135deg);
        top: -10px;
    }

} 