@media (width < 1170px) {
    .header {
        display: none;
    }

    /* MAIN */
    .main__introduction {
        padding: 8.3rem;
    }

    /* SECTION DIGITAL CREATORS */
    .section__digitalCreators .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .section__conferencePlay {
       left: 19rem;
    }

    /* SECTION PRICING */
    .section__listPricingPlans {
        flex-wrap: wrap;
        justify-content: center;
    }

    .section__plans {
        width: 100%;
    }

    /* SECTION YOUR QUESTIONS */
    .section__bookYourSpot {
        padding: 3rem;
    }

    .section__bookYourSpot .container {
        gap: 3rem;
        flex-direction: column;
    }

    .section__titleReservation p {
        margin-bottom: 4rem;
    }

    /* FOOTER */
    .footer__logo {
        flex-direction: column;
        align-items: start;
    }

}

@media (width < 768px) {

    /* MAIN */
    .main__titleIntroduction h1 {
        font-size: 5.7em;
    }

    .main__title {
        font-size: 0.7em;
    }

    .main__titleIntroduction span {
        margin: 0 0.5rem;
    }

    /* SECTION DITAL CREATORS */
    .section__digitalCreators .container {
        gap: 5rem;
    }

    .section__conferencePlay {
        bottom: 12rem;
        left: 43%;
    }

    /* SECTION SCHEDULE */
    .section__scheduleDay {
        font-size: 1.4em;
        padding: 2rem 0px 3.5rem;
    }

    /* SECTION BEST COMPANIES */
    .section__bestCompanies {
        padding: 5rem 3rem;
    }

    .section__companies {
        flex-basis: 13rem;
    }

    /* SECTION BOOK YOUR SPOT */
    .section__divInputs {
        flex-direction: column;
        gap: 1rem;
    }

    .section__inputBox input {
        width: 100%;
    }

    /* FOOTER */
    .header__listLinks {
        flex-direction: column;
    }
    
    

}


@media (width < 550px) {

    h2 {
        font-size: 2.5em;
        line-height: 1.2em;
    } 

    p {
        font-size: 1em;
        line-height: 1.6em;
    }

    .main__slide, .section__digitalCreators, .section__schedule, .section__allSpeakers, .section__yourQuestions, .section__pricing, .main__joinIntroduction {
        padding: 0 1.4rem;
    }

    .img-logo {
        width: 9rem;
    }

    /* MAIN */
    .main__introduction {
        padding: 6rem 1.3rem;
    }

    .main__titleIntroduction h1 {
        font-size: 3.9em;
    }

    .main__title {
        font-size: 0.7em;
    } 

    /* SECTION DIGITAL CREATORS */
    .section__descriptionConference h3 {
        font-size: 1.4em;
        margin-bottom: 1rem;
    }

    .section__conferencePlay {
        left: 43%;
        bottom: 32%;
    }

    /* SECTION SCHEDULE */
    .section__scheduleDay {
        font-size: 1.2em;
    }

    /* SECTION ALL SPEAKERS */
    .section__imgBoxSpeaker img {
        max-width: 25rem;
    }

    /* SECTION TESTIMONALS */
    .section__testimonials {
        padding: 2rem 1.4rem;
    }

    .section__testimonials p {
        font-size: 1.2em;
    }

    /* SECTION BOOK YOUR SPOT */
    .section__bookYourSpot {
        padding: 4rem 1.4rem
    }

    .section__formSing {
        padding: 2rem;
    }

    /* FOOTER */
    .footer__logo {
        align-items: center;
    }

    .footer__linksTop {
        justify-content: center;
    }

}