.section__bookYourSpot {
    background-image: url(../../../../images/global/banner-book.jpg);
    background-size: cover;
    padding: 7rem;
}
.section__bookYourSpot .container {
    display: flex;
    justify-content: space-between;
}

.section__reservation {}

.section__titleReservation {}

.section__titleReservation h2 {
    margin-bottom: 2rem;
}

.section__titleReservation p {
    margin-bottom: 20rem;
}

.section__contact {}

.section__contact a {
    margin-bottom: 1rem;
    display: inline-block;
}

.section__contact span {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.section__formSing {
    background-color: var(--white);
    border-radius: 15px;
    width: 35rem;
    color: var(--black);
    padding: 3rem;
}

.section__formSing h3 {
    font-size: 2.1em;
    font-weight: 500;
    margin-bottom: 3rem;
}

.section__divInputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.section__inputBox {}


.section__inputBox input, label {
    display: block;
}

label {
    margin-bottom: 0.8rem;
    font-weight: 600;
    cursor: pointer;
}

.section__formSing label:nth-child(3){
    margin-bottom: 1.4rem;
}

.section__inputBox input {
    border: none;
    padding: 0.8rem 0rem;
    border-bottom: 2px solid var(--gray);
    outline: none;
    width: 16.5rem;
    font-size: 0.9em;
}

.section__inputBox input:focus {
    border-bottom: 2px solid var(--blue);
}

.section__radio {
    display: flex;
    position: relative;
}

.section__formSing :nth-child(6) {
    margin-bottom: 1rem;
}

.section__radio label {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    position: relative;
    width: 100%;
}

.section__radio label::before, .section__radio label::after {
    display: block;
    content: '';
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--black);
    border-radius: 50%
}

.section__radio label::after {
    display: none;
    border: 5px solid var(--blue);
    position: absolute;
    left: -4px;
}

.section__radio input {
    position: absolute;
    left: -8rem;
    opacity: 0;
}

.premium::after {
    content: 'TOP';
    border-radius: 20px;
    content: 'Top';
    position: absolute;
    left: 7.6rem;
    top: -0.1rem;
    background-color: var(--blue);
    color: var(--white);
    padding: 0.4rem 0.6rem;
    font-size: 0.7em;
    font-weight: 700;
    letter-spacing: 1px;
}

.section__radio input:checked ~ label::after {
    display: block;
}

.section__radio input:focus ~ label::after {
    display: block;
}

.section__formSing button {
    background-color: var(--blue);
    border: 2px solid var(--blue);
    color: var(--white);
    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 16px 24px;
    font-family: var(--roboto);
    width: 100%;
    transition: .5s;
    cursor: pointer;
}

.section__formSing button:hover {
    background-color: var(--white);
    color: var(--black);
    border: 2px solid var(--black);
}

.section__formSing p {
    margin-top: 2rem;
    font-size: 1em;
}