.section__digitalCreators {}

.section__digitalCreators .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem 1.5rem;
}

.section__titleDigital h2 {
    margin-bottom: 3rem;
}

.section__titleDigital h2 strong {
    color: var(--gray);
}

.section__conferenceBox {}

.section__descriptionConference {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.section__descriptionConference h3 {
    font-size: 1.3em;
}

.section__descriptionConference p {
    margin-bottom: 3.5rem;
}

.section__conferenceImgBox {
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    max-width: 41rem;
}

.section__conferenceImgBox img {
    width: 100%;
    transition: .5s;
}
.section__conferenceImgBox img:hover {
    transform: scale(1.1);
}

.section__conferencePlay {
    position: absolute;
    width: 2rem;
    height: 2rem;
    bottom: 38%;
    left: 46%;
    font-size: 1.6em;
    backdrop-filter: blur(7px);
    background-color: #ffffff0d;
    padding: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff1a;
}

.section__conferencePlay i {}

.section__logoConference {
    position: absolute;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    left: 2rem;
}

.section__logoConference img {}

.section__logoConference span {
    margin-left: 4rem;
}

@media (width < 1170px) {
    
    /* SECTION DIGITAL CREATORS */
    .section__digitalCreators .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .section__conferencePlay {
        left: 19rem;
    }

}

@media (width < 768px) {

    /* SECTION DITAL CREATORS */
    .section__digitalCreators .container {
        gap: 5rem;
    }

    .section__conferencePlay {
        bottom: 12rem;
        left: 43%;
    }

}

@media (width < 550px) {

    /* SECTION DIGITAL CREATORS */
    .section__descriptionConference h3 {
        font-size: 1.4em;
        margin-bottom: 1rem;
    }

    .section__conferencePlay {
        left: 43%;
        bottom: 32%;
    }

}