.section__bestCompanies {
    border-top: 1px solid var(--gray);
    padding: 10rem;
}

.section__bestCompanies h2, .section__bestCompanies p {
    margin-bottom: 3rem;
}

.section__actionCompanies, .section__actionCompanies button {
    margin-bottom: 1rem;
}

.section__actionCompanies {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.section__actionCompanies button {
    position: relative;
}

.section__actionCompanies button::after {
    content: '';
    height: 1px;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -1rem;
}

.section__actionCompanies {
    border-bottom: 1px solid #ffffff24;
}

.section__actionCompanies button {
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--white);
    font-size: 0.88em;
    letter-spacing: 1px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.section__companies {
    display: none;
}

.section__actionCompanies button.ativo::after {
    background-color: white;
}
.section__companies.ativo {
    display: block;
}

.section__listCompanies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 6rem;
}

.section__companie {
    background-color: #ffffff0d;
    border-radius: 15px;
    width: 20rem;
    height: 10rem;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 19rem;
}

.section__companie img {}


@media (width < 768px) {

    /* SECTION BEST COMPANIES */
    .section__bestCompanies {
        padding: 5rem 3rem;
    }

    .section__companies {
        flex-basis: 13rem;
    }

}