.section__yourQuestions {}

.section__yourQuestions h2 {
    margin-bottom: 3rem;
}

.section__listQuestions {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    text-align: left;
}

.section__question {
    border-bottom: 1px solid var(--gray);
    flex-basis: 40rem;
    height: 4.5rem;
    transition: all .6s;
    position: relative;
}

.section__question.ativado {
    height: 7.5rem;
}

.section__ask {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.section__ask .material-icons {
    border: 1px solid var(--gray);
    border-radius: 50%;
    padding: 0.3rem;
}

.section__question p {
    padding: 1rem 0;
    transition: .5s;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 3rem;
}

.section__question p.ativado {
    top: 3.4rem;
    opacity: 1;
    visibility: visible;

}

@media (width < 768px) {
    .section__question.ativado {
        height: 8.7rem;
    }
}