.section__schedule {}

.section__scheduleDay {
    font-size: 1.6em;
    padding: 2rem 0 3.5rem 0;
    cursor: pointer;
    position: relative;
}

.section__actionPopUp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray);
    padding-bottom: 3rem;
}

.section__actionPopUp span {}

.section__actionPopUp i {
    font-size: 0.7em;
    color: var(--gray);
}

.section__events {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
}
.section__events.ativado {
    opacity: 1;
    visibility: visible;
    display: block;
    height: 53rem;
}

.section__eventDay {
    border-bottom: 1px solid var(--gray);
    display: flex;
    padding: 2rem 6rem 3rem 0;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.section__eventDay span {
    color: var(--blue);
    font-size: 0.6em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.section__eventDay h3 {
    font-size: 1.5em;
    flex-basis: 15rem;
}

.section__divisao {
    flex-basis: 30rem;
}

.section__eventDay p {
    color: var(--gray);
    font-size: 0.7em;
    margin-bottom: 2rem;
}

.section__listParticipants {
    display: flex;
    flex-wrap: wrap;
}

.section__participant {
    background-color: #ffffff0d;
    border: 1px solid #ffffff1a;
    border-radius: 30px;
    padding: 0.7rem;
    font-size: 0.5em;
}

@media (width < 950px) {

    .section__events.ativado {
        height: 60rem;
    }

    .section__eventDay {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }

    .section__eventDay  h3, .section__divisao {
        flex-basis: 0rem;
    }

    .section__listParticipants {
        justify-content: center;
    }

}

@media (width < 768px) {

    /* SECTION SCHEDULE */
    .section__scheduleDay {
        font-size: 1.4em;
        padding: 2rem 0px 3.5rem;
    }

}

@media (width < 550px) {

    .section__events.ativado {
        height: 46rem;
    }

    /* SECTION SCHEDULE */
    .section__scheduleDay {
        font-size: 1.2em;
    }
    
}