.section__pricing {
    background-image: url(../../../../images/global/banner-2.png);
    background-repeat: no-repeat;
    margin-bottom: 15rem;
}

.section__pricing h2, .section__pricing p {
    margin-bottom: 4rem;
}

.section__listPricingPlans {
    display: flex;
    text-align: left;
    gap: 2rem;
}

.section__plans {
    border: 1px solid #ffffff1a;
    border-bottom: 1px dashed #ffffff1a;
    padding: 2.7rem 2rem;
    border-radius: 10px;
    position: relative;
    flex-basis: 22rem;
    backdrop-filter: blur(24px);
    background-color: #ffffff0d;
}

.section__descriptionPlan {}

.section__descriptionPlan h3, .section__price {
    font-size: 2.5em;
    font-weight: 500;
}

.section__descriptionPlan h3 {
    margin-bottom: 1rem;
}

.section__descriptionPlan > p {
    color: var(--gray);
    margin-bottom: 8rem;
}

.section__plans .main__title {
    padding-bottom: 2rem;
    display: block;
    border-bottom: 1px dashed var(--gray);
    margin-bottom: 2.5rem;
}

.section__price {
    font-size: 2.5em;
    font-weight: 500;
    display: flex
;
    align-items: center;
    gap: 0.5rem;
}

.section__price strong  {
    font-size: 1.2em;
    color: var(--gray);
}

.section__plans a {
    position: absolute;
    font-size: 1.4em;
    font-weight: 400;
    color: var(--white);
    border: 1px solid #ffffff1a;
    border-top: none;
    padding: 1.5rem 2rem;
    width: 21.7rem;
    left: 0rem;
    bottom: -4.5rem;
    border-radius: 10px;
    backdrop-filter: blur(24px);
    background-color: #ffffff0d;
    transition: .5s;
}
.section__plans a:hover {
    background-color: #ffffff1c;
    
}