.main__introduction {
    background-image: url(../../../../images/global/banner.png);
    background-size: cover;
    padding: 18.3rem;
}

.main__titleIntroduction {}

.main__titleIntroduction span {
    margin: 0 2.5rem;
}

.main__titleIntroduction h1 {
    font-size: 8.7em;
    font-weight: 500;
}

.main__joinIntroduction {
    max-width: 30rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    margin-bottom: 10rem;
}

.main__joinIntroduction span {}

.main__joinIntroduction p {}

.main__joinIntroduction a {}


@media (width < 1170px) {

    /* MAIN */
    .main__introduction {
        padding: 8.3rem;
    }
    
}

@media (width < 768px) {

    /* MAIN */
    .main__titleIntroduction h1 {
        font-size: 5.7em;
    }

    .main__title {
        font-size: 0.7em;
    }

    .main__titleIntroduction span {
        margin: 0 0.5rem;
    }

}

@media (width < 550px) {

    /* MAIN */
    .main__introduction {
        padding: 6rem 1.3rem;
    }

    .main__titleIntroduction h1 {
        font-size: 3.9em;
    }

    .main__title {
        font-size: 0.7em;
    } 

}